/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Poppins:wght@400&display=swap');

/* Removes Default Border, Padding And Margin */ 

* {
    border: none;
    padding: 0;
    margin: 0;
}

/* Body */

body {
    background-color: black;
    text-align: center;
}

/* Headings And Paragraphs */ 

h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1rem;
}

p {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

#heading {
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* List Items */

ul {
    display: inline-block;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 2rem 2rem 2rem 4rem;
    text-align: left;
}

/* Div Containers */

.page-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

.heading-container {
    padding-top: 2rem;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.info-container {
    margin: 2rem 1rem 2rem 1rem;
} 

/* Sections */

#quiz {
    width: 100%;
}

#result {
    width: 100%;
}

/* Buttons */

button {
    background-color: #FEC726;
    border-radius: 0 0 10px 10px;
    color: black;
    font-family: 'Jaldi', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

button:hover {
    background-color: rgb(213, 160, 0);
    cursor: pointer;
  }

.radio-btns {
    cursor: pointer;
    list-style: none;
    padding: 0rem;
}  

.radio-btns li {
    padding: 1rem;
    margin-left: 1rem;
}

input[type=radio] {
    margin-right: 1rem;
    transform: scale(1.6);
}
  
label:hover {
    cursor: pointer;
}

/* Heading Underline */

.line {
    background-color: rgb(254 199 38);
    border-width: 0;
    border-radius: 10px;
    height: 1rem;
    margin: auto;
    width: 80%;
}

/* Hides Elements */

.hidden {
    display: none;
}

/* User Feedback Borders */

.green {
    border: 5px solid #00D818;
    border-style: outset;
}

.red {
    border: 5px solid #D82000;
    border-style: outset;
}

/* Media Queries */

/* 768px Wide And Below */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }

    button {
        font-size: 1.5rem;
    }
    
    ul {
        font-size: 0.85rem;
    }
}

/* 480px Wide And Below */

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .line {
        height: 0.8rem;
    }

    button {
        padding: 0.8rem;
    }

    p {
        padding: 0;
    }

    button {
        font-size: 1.2rem;
    }

    .quiz-container {
        width: 90%;
    }
}